# Changelog template - docs/changelog.yaml
kind: changelog
version: "1"

entries:
  - version: "[Unreleased]"
    date: null
    changes:
      - type: added
        description: "Project initialization"
      - type: added
        description: "Generated CONTRIBUTING_AI.md collaboration rules"
